.section-text {
  font-family: var(--font-primary);
  font-size: var(--font-text-size);
  font-weight: var(--font-text-weight);
  color: var(--secondary);
  text-align: justify;
  margin-top: 2rem;
  max-width: 90%;
  -webkit-box-shadow: 10px 10px var(--highlight);
  -moz-box-shadow: 10px 10px var(--highlight);
  box-shadow: 10px 10px var(--highlight);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
  /* margin-bottom: 200px; */
}


@media (min-width: 30em) {
  .section-text {
    margin-right: 0;
    width: 100%;
  }
}
