.section-text {
  font-family: var(--font-primary);
  font-size: var(--font-text-size);
  font-weight: var(--font-text-weight);
  color: var(--highlight);
  text-align: justify;
  max-width: 90%;
  -webkit-box-shadow: 10px 10px var(--highlight);
  -moz-box-shadow: 10px 10px var(--highlight);
  box-shadow: 10px 10px var(--box-shadow-secondary);
  border: 1px solid var(--secondary);
  padding: 0.5rem 1rem;
}


@media (min-width: 30rem) {
  .section-text {
    margin-right: 0;
    width: 100%;
    height: max-content;
  }
}
