.section-title {
  font-family: var(--font-primary);
  font-size: var(--font-title-size);
  font-weight: var(--font-title-weight);
  color: var(--secondary);
  font-style: italic;
  margin-bottom: 1rem;
  box-shadow: 10px 10px var(--highlight);
  border: 1px solid var(--secondary);
  width: max-content;
  padding: 0.5rem 1rem;
}